@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__inner{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 120px;
    }
}

.logo {
    margin:0 auto;
}

.menu {
    padding-right: 15px;
    &__list {
        display: flex;
    }
    &__list-item{
        padding-left: 35px;
        padding-right: 45px;
    }
}
